## Connect to SQLite with sqlite3

*SQLite* is a lightweight **serverless**,  disk-based database.\
Unlike with PostgreSQL, you donâ€™t need to install and run a separate server process to perform database operations. \
The database exists as a single file, allowing it to be integrated directly into applications.\
To interact with SQLite database from Python we use `sqlite3` library which is by default provided with your Python installation.

In [1]:
import sqlite3

*Step 1. Establish a connection to the SQLite database.*

Create a connection to the SQLite database by passing the path to the database file to be opened.\
N.B. If the specified database does not exist, SQLite will automatically create it.

In [3]:
# connecting to books_data.db in the current working directory, implicitly creating it if it does not exist ...

db = sqlite3.connect(database="./books_data.db")

An SQLite database is normally stored in a single file. However, the database can be stored in memory by passing the string ":memory:" instead of the filename.\
When this is done, no disk file is opened. Instead, a new database is created purely in memory.\
The database is never persisted to a disk, and ceases to exist as soon as the database connection is closed.

In [ ]:
# connecting (and creating) an in-memory only database ...

db = sqlite3.connect(database=":memory:")

*Step 2. Get a **cursor** object from the **connection**.* 

In order to execute SQL statements and fetch results from SQL queries, we will need to use a database cursor.

In [4]:
# Create a cursor object using the connection's "cursor" method. 

cursor = db.cursor()

*Step 3. Issue SQL statements using `.execute()` method.*

In [5]:
sql = """ 
    CREATE TABLE books(
    id VARCHAR PRIMARY KEY,
    title TEXT NOT NULL,
    author TEXT NOT NULL
    )
"""

cursor.execute(sql)

In [ ]:
# Useful commands - alter table
cursor.execute("""
    ALTER TABLE books
    ADD COLUMN page_number Varchar;
""")

#remove row(s):

cursor.execute("""
    DELETE FROM books
    WHERE id = ?;
""", ('1',))

In [6]:
# Insert a record

sql = """
INSERT INTO books VALUES ('1', 'Foundation', 'Isaac Asimov')
"""
cursor.execute(sql)

*Placeholder-based queries*

Pass a SQL query along with the data (a sequence of values) to fill a query placeholders.\
The values in a sequence correspond to the column values in the database table.

In [7]:
sql = """
INSERT INTO books VALUES (?, ?, ?)
"""
record = ('2', '1984', 'George Orwell') 

cursor.execute(sql, record)

Use the `executemany()` method to insert multiple records.

In [8]:
sql = """
    INSERT INTO books 
    VALUES (?, ?, ?)
"""

records = [
    (3, 'The Body', 'Bill Bryson'),
    (4, 'Behave', 'Robert Sapolsky'),
    (5, 'Power', 'Pobert Greene')
    ]

cursor.executemany(sql, records)

In [29]:
# Retrieve the data from the database

sql = """
        SELECT * 
        FROM books;
    """

cursor.execute(sql)

*Step 4. Fetch the results.*

Once a query has been executed, results can be retrieved using the fetchone and fetchall methods on the cursor:\
    - `fetchall` will retrieve all results as a list of tuples. \
    - `fetchone` will retrieve a single row of results each time that it is invoked until no more results are available.

In [30]:
cursor.fetchall()

[('1', 'Foundation', 'Isaac Asimov'),
 ('2', '1984', 'George Orwell'),
 ('3', 'The Body', 'Bill Bryson'),
 ('4', 'Behave', 'Robert Sapolsky'),
 ('5', 'Power', 'Pobert Greene')]

*Step 5. Make the changes persistent by committing the transaction.*

In [31]:
# Commit the transaction
db.commit()

*Step 6. Close the connection and release the resources.*

In [32]:
db.close()